.poke-icon {
  max-height: 26px;
  width: auto;
  margin: 2px;
}
.poke-list {
}
.indigo {
  background-color: #0666cc;
  color: #ffffff;
}
.teal {
  background-color: #00b3b3;
  color: #ffffff;
}